[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
jupyter = "*"
jupytext = "*"
matplotlib = "*"
torchvision = "*"
pytorch-fid = "*"

[dev-packages]

[requires]
python_version = "3.10"
